@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

/* video {
    max-width: none;
    width: 100%;
    height: 100%;
} */

.about_section {
    background-image: url("https://media.istockphoto.com/id/2075598823/photo/happy-group-of-indian-rural-children-in-school-uniform-standing-looking-at-camera-in-school.jpg?s=2048x2048&w=is&k=20&c=DVHaWJEz_oIz0Rd1j73X0M886-FHjXHAxQ2WoM16NA4=");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide_scrollbar {
    scrollbar-width: none;
}

.sectionCustomHeight {
    min-height: calc(100vh - 80px);
}

/* custom css ends  here  */

@layer base {
    p {
        @apply text-sm text-gray-300 sm:text-base;
    }
}

@layer utilities {
    .custom_container {
        @apply mx-auto max-w-[1200px] px-[4%] xl:px-0;
    }

    .flex_center {
        @apply flex items-center justify-center;
    }

    .flex_between {
        @apply flex items-center justify-between;
    }

    .custom_input {
        @apply w-full rounded-md border border-gray-200 py-2 pl-4;
    }

    .primary_btn {
        @apply rounded-md bg-primary px-6 py-3 text-sm text-white hover:bg-secondary sm:text-base;
    }
    .btn {
        @apply rounded-md bg-white px-6 py-3 text-sm text-primary hover:bg-slate-50 sm:text-base;
    }

    .grayBtn {
        @apply rounded-md bg-gray-100 px-8 py-3 text-xs transition-all duration-300 ease-in-out;
    }

    .section {
        @apply custom_container my-24;
    }

    .transition {
        @apply transition-all duration-300 ease-in-out;
    }
}

.nav_link,
.active_nav_link {
    position: relative;
}
.nav_link::before {
    position: absolute;
    content: "";
    height: 4px;
    width: 0%;
    background-color: #fff;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.active_nav_link::before {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.nav_link:hover::before {
    width: 100%;
}

.custom_border {
    border-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_copyright {
    border-top-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.image_hover {
    @apply hover:scale-110;
}

/**************************  LOADER CSS  *************************************** */

.loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
}

.loader:before {
    animation: before8 2s infinite;
}

.loader:after {
    animation: after6 2s infinite;
}

@keyframes before8 {
    0% {
        width: 0.5em;
        box-shadow:
            1em -0.5em rgba(225, 20, 98, 0.75),
            -1em 0.5em rgba(111, 202, 220, 0.75);
    }

    35% {
        width: 2.5em;
        box-shadow:
            0 -0.5em rgba(225, 20, 98, 0.75),
            0 0.5em rgba(111, 202, 220, 0.75);
    }

    70% {
        width: 0.5em;
        box-shadow:
            -1em -0.5em rgba(225, 20, 98, 0.75),
            1em 0.5em rgba(111, 202, 220, 0.75);
    }

    100% {
        box-shadow:
            1em -0.5em rgba(225, 20, 98, 0.75),
            -1em 0.5em rgba(111, 202, 220, 0.75);
    }
}

@keyframes after6 {
    0% {
        height: 0.5em;
        box-shadow:
            0.5em 1em rgba(61, 184, 143, 0.75),
            -0.5em -1em rgba(233, 169, 32, 0.75);
    }

    35% {
        height: 2.5em;
        box-shadow:
            0.5em 0 rgba(61, 184, 143, 0.75),
            -0.5em 0 rgba(233, 169, 32, 0.75);
    }

    70% {
        height: 0.5em;
        box-shadow:
            0.5em -1em rgba(61, 184, 143, 0.75),
            -0.5em 1em rgba(233, 169, 32, 0.75);
    }

    100% {
        box-shadow:
            0.5em 1em rgba(61, 184, 143, 0.75),
            -0.5em -1em rgba(233, 169, 32, 0.75);
    }
}

.loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
}
